*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
}

h1{
    margin-top: 20vh;
    margin-bottom: 30px;

}
input{
    font-size: 1rem;
    width: 300px;
    padding: 6px 2px; 
    margin: 10px 0 10px 0;
}
.sub{
    background-color:rgb(223, 155, 52);
    cursor: pointer;
}

form{
    text-align: center;
    border: 5px solid rgb(111, 70, 23);
    padding: 20px;
    background-color: rgb(239, 192, 135);
}
div{
    margin-top: -4%;
    text-align: center;
}