<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/home.css">

</head>
<body>
    <h1 id="h1">Home</h1>

    <h2>Hello  <%= data.name %> </h2>
    <h4>From  <%= data.address %> </h4>
    <h4>Age  <%= data.age %> </h4>
    <h4>Phone  <%= data.phonenumber %> </h4>


    
</body>
</html>