<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/signup.css">

</head>
<style>

    
</style>

<body>
    <div>
    <h1>Signup</h1>

    <form action="/signup" method="POST" enctype="multipart/form-data">
    
    <input type="text" name="name" placeholder="Name" autocomplete="off">
    <br>
    <input type="text" name="address" placeholder="Address" autocomplete="off">
    <br>
     <input type="text" name="age" placeholder="Age" autocomplete="off">
    <br>
     <input type="text" name="phonenumber" placeholder="PhoneNumber" autocomplete="off">
    <br>
    <input type="password" name="password" placeholder="Password" autocomplete="off">
    <br>

    <form action="/" method="post" enctype="multipart/form-data">

     <input type="file" name="image" id="file">
     <br>
    <input type="submit" class="sub">

    </form>

     <a href="/">Go to login page<file/a>
    </div>
    
</body>
</html>